### Loops

Its a function is python that helps you to perform a repeated task.

There are 2 types of Loop:
--------------------------------------------------------
- for loop
- while loop

Before we discuss loops lets discuss the range object. 

#### Range

The range is a collection of all the int values given a start, stop, and steps. By default, the start is 0 and the steps incremented is 1. The stop value is not included.


    syntax:
    range(start,stop,steps)
    
    
### for loop

The for loop enables you to execute a code block multiple times.

To iterate through a range with a for loop, we start with the keyword for, followed by a variable, typically named i, the in keyword, and the range created using its constructor.

Letâ€™s try out the for loop and iterate through a range from 0 to 9 and print out all the values.

In [ ]:
for i in range(0,10,2):
    print(i)

In [ ]:
range(10)

since, by default, start is 0 and step is 1, we can simply do this:

In [ ]:
for i in range(10):
    print(i)

In [ ]:
# we can iterate through a list
subject = ["Mathematics","English","Commerce","Chemisty"]

for i in range(len(subject)):
    print(subject[i][0:3])

In [ ]:
subject[0]

In [ ]:
# we can also directly access the elements in the list:

subjects = ["Mathematics","English","Commerce","Chemisty"]

for item in subjects:
    print(item[0:3].upper())

We can print our output on a line,The print statement automatically prints to the next line because there is a parameter, end that has the default value '\n', which is the new line character.To change the end value and have the output be printed in one line separated by space, we can pass in a value for end.

In [ ]:
subjects = ["Mathematics","English","Commerce","Chemistry"]

for subject in subjects:
    if subject == "English":
        continue
    print(subject, end = ", ")
    
print("and Chemistry")

In [ ]:
# Use for loop to change the elements in list

subjects = ["Mathematics","English","Commerce","Chemisty"]

for i in range(4):
    print("Before Change", i, "is", subjects[i])
    subjects[i] = "Further Mathematics"
    print("After Change", i, "is", subjects[i])

In [ ]:
# Loop through the list and iterate on both index and element value
subjects = ["Mathematics","English","Commerce","Chemisty"]

for index, subject in enumerate(subjects): 
    print(index, subject)

In [ ]:
for son,don in enumerate(subjects[1]):
    print(son,don.upper())

Class Activity

What happens when you run this program

lst =[]

for i in range(15):
    lst.append(i)
print(lst)

In [ ]:
lst =[]

for i in range(15):
    lst.append(i*i)
print(lst)

In [ ]:
for i in lst:
    lst.pop()
print(lst)

In [ ]:
int_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for num in int_list:
    num *= 2
    print(num)

In [ ]:
int_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(len(int_list)):
    int_list[i] *= 2
	
print(int_list)

### Activity: Create two lists. One containing six products and the other containing their prices. 

1. Write a for loop to iterate over both lists and print the following statement:

         "The current price of (products name) is (price)"
         
2. Modify your program to accept user input of product name and check if the product is in your list. Print (1) if the product is available else print:

             "Sorry this product is not available."

In [ ]:
stocks = ['total', 'oando', 'mobil','shell', 'nasdaq','s&p']
prices = [12.8, 9.5, 30, 48, 1.3845, 1.2985]

user = str(input("Enter the stock name: "))

for i, j in zip(stocks, prices):
    if user.lower() == i:
        print(f"The current price of {i} is {j}")

### For Loops with conditional statements

In [ ]:
# let's write a for loop that will iterate over our list and print items containing letter "m"
subject = ["Mathematics","English","Commerce","Chemisty", "Geography"]

for item in subject:
    if "m" in item and "c" not in item or "G" in item:
        print("I love", item)

In [ ]:
# let's write a program that will assign  grades to students' scores. 

# We need to first collect student score as input.
students = ['Bob', 'Dan', 'Joy', 'Kim', 'Sam']


name = str(input("Please input your First name: "))
score = int(input("Please enter your score: "))

if name.capitalize() in students:
    if score < 40:
            print("Welcome {}! You Failed this subject. Try harder!".format(name))
    elif score < 60:
            print("Welcome {}! You passed this subject. Your grade is C.".format(name))
    elif score < 80:
            print("Welcome {}! You passed this subject. Your grade is B.".format(name))
    else:
            print("Welcome {}! Coungratulations!!! You passed this subject. Your grade is A.".format(name))
else:
        print("Oops! You name is not in the list of students")

### Activity: Calculate the sum of all numbers from 1 to a given number by the instructor

In [ ]:
num = int(input("enter a number: "))

sum_digit = 0

for i in range(1,num+1):
    sum_digit += i
    
print(sum_digit)

In [ ]:
num = int(input("enter a number: "))

sum_digit = 0
sum_list = []
for i in range(1,num+1):
    sum_digit += i
    sum_list.append(sum_digit)
    
    print(sum_digit, sum_list, sep="\n\n")

### Activity: Write a program to print multiplication table of a given number.

In [ ]:
time_num = int(input("enter a number: "))

%%timeit

for i in range(1,13):
    res = time_num*i
    print(f"{time_num} x {i} = {res}")

#### Nested for loops

We can also use for loops to iterate through a nested list,to iterate through each value in a nested list, we will need to have nested for loops, which are for loops inside another for loop.

In [ ]:
# print the individual lists inside a nested list:
Dept_Subject = [["Government", "Literature","Arts"],["Commerce","Economics", "Account"],["Physics","Chemistry","Geography"]]

for Dept in Dept_Subject:
    print(Dept)

In [ ]:
# print the individual subject inside each list:
Dept_Subject = [["Government", "Literature","Arts"],["Commerce","Economics","Account"],["Physics","Chemistry","Geography"]]

for Dept in Dept_Subject:
    for subject in Dept:
        print(subject)

### Activity: Write a program that returns all the numbers divisible by 4 in a list.
#### Create a new list with these numbers.

In [ ]:
div_by_15 = []

for i in range(0,201):
    if i % 15 == 0:
        #print(i)
        div_by_15.append(i)
        
print(div_by_15)

### Activity: Write a for loop that stores the number divisible by 5 and 6 between 150 and 500



### Activity: Write a program that accepts phone numbers as input and returns the sum of all the digits of the phone number.

#### While loop
The while loop allows code to be executed repeatedly while a condition holds True,The code block will keep being executed until the given logical condition returns a False boolean value.

Lets print the integer from 1 to 10, we will need a variable that act as an increment value, say x and assign a value of 1 to it, the value will increase until it gets to 10.

We now need to determine the condition that will allow the loop to execute a task repeatedly. In this case, the objective is to print integers from 1 to 10. So we'll set the condition to be x < 11

In [ ]:
x = 1
while x < 11:
    print(x)
    x+=1

In [ ]:
# Cases when the condition is not met, our loop function may not run

x=12
while x<11:
    print(x)
    x+=1

#### cases when there is no exit condition, the loop 

x = 1
while x < 11:
    print(x)
    x+=1

The program will print 1 forever, this is called an infinite loop, which will eventually crash the program

In [ ]:
# We can also use the while loop to print every element in a collection via index.

names = ["Sade", "Kemi", "Bola", "Tosin", "Peace"]

index = 0
while index < len(names):
    print(names[index])
    index +=1

### Break Statement

The break statement allows us to exit a loop irrespective of the break statement.
We will use a conditional statement inside the while loop that will determine whether or not to call break.

In [ ]:
names = ["Sade", "Bola", "Tosin",  "Kemi", "Peace"]

index = 0
while index < len(names):
    print(names[index])
    index+=1
    if names[index] == "Kemi":
        print("Kemi is in class")
        break

#### Quiz on Loops
1. Write a for loop the prints out all the element between -5 and 5 using the range function.

2. Print the elements of the following list: Fruits = ["Mango", "Pineapple", "Guava", "Pineapple","Orange"

3. Write a for loop that prints out the following list: Subject=['Mathematics', 'Economics', 'English', 'Geography', 'Commerce']

4. Write a while loop to display the scores of students in a particular course in the score list, if the score is less than 30 exit the loop.
Scores=[70,45,67,33,80,30,25,67,45,44]

In [ ]:
scores=[70,45,67,33,80,30,25,67,45,44]

i = 0

while i < len(scores):
    print(scores[i])
    i +=1
    if scores[i] < 30:
        break

### Continue statement

The continue keyword allows you to end the current iteration in a loop (for or while) and force the loop to continue without executing the current item in the loop.

the continue statement is used to exclude parts of your iterable from the loop.

In [ ]:
scores=[70,45,67,33,80,30,25,67,45,44]

i = 0

while i < len(scores)-1:
    
    
    
    if scores[i] < 30:    
        continue
    
    print(scores[i])
    i +=1

In [ ]:
for char in "zacrac learning":
    
    if char == 'a':
        continue
    print(char)

In [1]:
scores=[70,45,67,33,80,30,25,67,45,44]

for i in range(len(scores)):
    
    if scores[i] < 30:    
        continue
    print(scores[i])

70
45
67
33
80
30
67
45
44

## Conditional Statements and Flow Control

Flow control is a way of writing logical programs with one or more conditional statements. 

Conditional statements are written with the "if", "elif", and "else" keywords. 

We use elif to add multiple conditions ot our program. 

The else statement is optional and doesn't require a condition to be stated.

In [ ]:
subject = [["Government", "Literature","Arts"],["Commerce","Economics","Account"],["Physics","Chemistry","Geography"]]


best_sub = str(input("What is your best subject? "))

print('\n')

if best_sub.capitalize() in subject[0]:
    print("Congratulations! You're an Arts student")
elif best_sub.capitalize() in subject[1]:
    print("Congratulations! You're a Commercial student")
elif best_sub.capitalize() in subject[2]:
    print("Congratulations! You're a Science student")
else:
    print("You're not in any of the categories")