## Print Formatting
### Escape Sequence
Assuming you want your hello world on 2 lines like this:

In [45]:
print("Hello", end="\n************\n")
print("Python")

Hello
************
Python

We can have a single line of code by introducing the \n to create a newline

In [2]:
print("Hello\nPython")

Hello
Python

In [23]:
print("This is a new day.\nPython is interesting")

This is a new day.
Python is interesting

### Tab
To create a tab, use \t

In [25]:
print("Hello \t Python")

Hello 	 Python

In the case where we want an escape sequence within our text, we use the double backslash

In [40]:
print("Physics\\Chemistry")

Physics*Chemistry

In [41]:
# Printing with aprrostophe

print("i'll see her tomorrow") # you will have an error

i'll see her tomorrow

In [ ]:
print('i\'ll see her tomorrow')

i'll see her tomorrow

#### %s Format 
The string formatting operator help you insert string into your print statement

In [49]:
str1 = "name"

print("The %s of her mother." %(str1))

The name of her mother.

In [50]:
# You can also insert more than 1 string
print("The %s of her %s is %s."%("Name","mother","Ade"))

The Name of her mother is Ade.

In [2]:
# Different between %s and %d, while dealing with integers
print("the total cost ofgoods sold is %s" %590.567)
print("the total cost ofgoods sold is %d" %590.567)

the total cost ofgoods sold is 590.567
the total cost ofgoods sold is 590

In [61]:
# %5.2f for floating numbers

print("the total cost ofgoods sold is %.2f" %590.567)

the total cost ofgoods sold is 590.57

#### format()

In [ ]:
print("The subject offered is {}".format("Economics"))

The subject offered is Economics

#### Advantages of the format method

- objects can be inserted based on index

In [62]:
print("The {2} {0} is {1}".format("girl","here","brilliant"))

The brilliant girl is here

- Duplicates can be avoided

In [63]:
print("The {x};the {x} were happy".format(x="girls"))

The girls;the girls were happy

- keywords can be used

In [64]:
print("first subject;{x} , second subject; {y}, are to be compiled".format(x = "Geography", y="Physics"))

first subject;Geography , second subject; Physics, are to be compiled

### f-string
it is newly introduced

In [ ]:
input1 = "newly"
print(f"this is the {input1} introducted")

this is the newly introducted

In [67]:
print(f"The name of my teahcer is {'Ade'}. My best subject is {'Math'}")

The name of my teahcer is Ade. My best subject is Math

### Class Activity
Try printing “My name\nIs\nYourName” by writing it in between the parentheses of your print statement.Make sure to include the quotation marks (double or single quotes work the same).

In [68]:


username = str(input("Please enter username: "))
password = int(input("Please enter password: "))
score = int(input("Please enter your score: "))

Please enter username: sam
Please enter password: 3456
Please enter your score: 99

In [69]:
print("Welcome to Zacrac Learning {} Your score is {}".format(username, score))

Welcome to Zacrac Learning sam Your score is 99

In [7]:
print("The area of your rectangle is {}cm\u00b2".format(score))

The area of your rectangle is 100cm²