## String Objects

Let's define the following terms:

- Method: It is a specific function associated with an object, they are set of task that are performed by the object that provide us information about an object.
- Function: A group of statement that performs a specific task
- Object: An instance of a data Type. For example 

Value = 8

An Integer object with the value of 8 has being assigned to the variable "Value"

- string: Is a collection of single character strings.

For example: Hello Python is a collection of the following individual strings.

"H" + "e" + "l" +"l" + "o" + "p" + "y" + "t" + "h" + "o" + "n"


To call a method for an object, simply type the variable name associated with the object, followed by a dot, and then the method name with parentheses included ( ).

## String Methods

### capitalize()
Returns the str with the first character of the str as an uppercase

In [2]:
my_string="hello python"
print(my_string.capitalize())

Hello python

In [3]:
'i AM A DATA SCIENTIST'.capitalize()

'I am a data scientist'

In [4]:
str1 = "my dog's name is brian"

print(str1.capitalize())

My dog's name is brian

### lower()

Return the str with the all letter characters in lower cases.

In [5]:
my_string =("HELLO Python")
print(my_string.lower())

hello python

In [6]:
'i AM A DATA SCIENTIST'.lower()

'i am a data scientist'

In [7]:
print(str1.lower())

my dog's name is brian

### upper()
Return the str with the all letter characters in upper cases.

In [8]:
my_string =("HELLO Python")
print(my_string.upper())

HELLO PYTHON

In [9]:
'i AM A DATA SCIENTIST'.upper()

'I AM A DATA SCIENTIST'

In [10]:
print(str1.upper())

MY DOG'S NAME IS BRIAN

### isdigit( )
Calling isdigit checks if the str value is only composed of digits.

In [11]:
print(str1)

str1.isdigit()

my dog's name is brian

False

In [15]:
'2456'.isdigit()

True

### isalpha( )
Calling isalpha checks if the str value is only composed of only letters from the alphabet.

In [12]:
str1.isalpha()

False

In [15]:
"adayofpeace".isalpha()

True

### isspace( )
Calling isspace checks if the str value is only composed of white spaces.

In [16]:
"     ".isspace()

True

In [19]:
"    ".isspace() and "adayofpeace".isalpha()

True

### isalnum( )
Calling isalnum checks if the str value is only composed of digits and/or letters.

In [21]:
"233445455abdscfree".isalnum()

True

In [22]:
'i AM A DATA SCIENTIST'.isalnum()

False

### Concatenate
You can add two or more strings together by using the addition operator

### Duplicate 

Youn can duplicate a string using the multiplication operator.

In [20]:
str1 = "hello"
str2 = "world"
new_str = str1 + " " + str2
print(new_str)

hello world

In [11]:
print(new_str*5)

hello worldhello worldhello worldhello worldhello world

### Indexing
An Index is the address or position to access an item in a collection.

Index positive value starts with 0 from left to right, while the negative value startw with -1 from rigth to left

for example:

       "P" "y" "t" "h" "o" "n"
        0   1   2   3   4   5 --Positive Indexing
       -6  -5  -4  -3  -2  -1 --Negative Indexing
       
       
      Syntax:
          Variable[index]

In [26]:
x = "python"

# to access the variable on index 3

x[3]

'h'

In [ ]:
# To access the last variable using negative

x[-1]

'n'

In [29]:
wel_str = "Welcome to Class"

print(wel_str[-6])
print(wel_str[2:10:3])

lmt

### Length

The len() function allows you to know the number of variable in an object.

For example:

In [25]:
x="python"
len(x)

6

In [30]:
len(wel_str)

16

In [27]:
len('i AM A DATA SCIENTIST')

21

In [28]:
len("    ")

4

### Slicing

This is a way of copying a part of a collection.


        Syntax:
            variable[start:end]
        Where:
            Start can be 0
            End can be the length of the collection

In [42]:
# Slice from index 2 to the end
print(x)
x[1:]

python

'ython'

In [32]:
#slice of index 0 to 3
x[1:4] # to print out the 3rd index we added one to the last index

'yth'

In [ ]:
# we can clone using slicing
x_clone = x[:]
x_clone

'python'

#### Slicing stepwise

Syntax: variable_name[start:stop:step-size]

In [32]:
print(wel_str)

wel_str[2:10:2]

Welcome to Class

'loet'

In [44]:
num = "0123456789"

In [46]:
num[::2]

'02468'

### Split

In [55]:
print(wel_str)

split_str = wel_str.split("l")

print(split_str)

print(type(split_str))

Welcome to Class
['We', 'come to C', 'ass']
<class 'list'>

In [56]:
msg = 'i AM A DATA SCIENTIST'.split(' ')
print(msg)


print(msg[3][1:4])

['i', 'AM', 'A', 'DATA', 'SCIENTIST']
ATA

### join

In [57]:
"l".join(split_str)

'Welcome to Class'

In [53]:
' '.join(msg)

'i AM A DATA SCIENTIST'

### index

In [69]:
print(x)

x[:4].index('h')

python

3

In [48]:
wel_str[3:].index("l")

9

### count

In [58]:
print(wel_str)

wel_str.count('c')

Welcome to Class

1

### Replace

In [67]:
x.replace('n', 'm')

'pythom'

### Activity


"Once the model is selected, the next step is to train it using the pre-processed data."

#### Tasks

1. find the length of the string
2. split the string by whitespcae
3. join the resulting list of strings using "_"
4. find the index of the third letter "t"

In [2]:
act_str = "Once the model is selected, the next step is to train it using the pre-processed data."


t_list = []

def index_list()
for char in range(len(act_str)):
    if act_str[char] == "t":
        t_list.append(char)
        
print(t_list)

[5, 23, 28, 35, 38, 45, 48, 55, 63, 83]