# My First Notebook

This is my first python class and here's  my first jupyter notebook. 

###### My First Notebook

## Basic Python Syntax

1. Comments in python

A comment is a line of text in a python code cell. It is used to explain a block of code.

We write a comment by begininning with '#' symbol.

2. Statements
3. Indentation
4. Case sensitivity
5. Keywords
6. identifiers

In [4]:
x = "python programming"
x

'python programming'

In [2]:
# indentation is used to specify the body of a block of code. 
#it cannot contiunue...

for i in range(5):
    print(i)

IndentationError: expected an indented block (1525541476.py, line 5)

In [ ]:

Examples of keywords in python

def 
in 
is
and
or
while
list
type
round
len
set

In [ ]:
#This is a comment.
#This is another comment.

#### Data types in python

1. integers (int)
2. floats (f/ decimal)
3. boolean (True(1)/False(0), bool)
4. string (alphanumeric and special characters)
5. complex numbers



### Use the type() function to check for datatype

In [4]:
15
type(15)

int

In [5]:
5.25
type(5.25)

float

In [6]:
type(True)

bool

In [7]:
type(False)

bool

In [8]:
2<0

False

In [10]:
6/2
print(type("python 2023"))
True
False

<class 'str'>

False

### Strings

#### Strings are python's way of storing alphanumeric and special characters

In [9]:
"This is Joy's first notebook"

type("This is my first notebook")

This is Joy's first notebook

str

In [ ]:
print("I have 20 friends")

In [ ]:
"python 2023"

In [ ]:
" "

In [ ]:
True

In [ ]:
False

#### print function

In [10]:
print(6/2)

print("python 2023")

print(True)

print(False)

print(35*4)

3.0
python 2023
True
False
140

In [11]:
# adding sep and end arguments to your print function.

print(6/2, "python 2023", True, sep = " and ", end = "\n ------------------------------------ \n")

print(False)

print(35*4)

3.0 and python 2023 and True
 ------------------------------------
False
140

#### Activity 1 : Print a string that says: Hello World

#### Activity 1.b : Print another string of your own choice.

#### Activity 1.c : Change the default end argument to a value of your choice.

### Variables 

Varaibles are containers for storing data. Data can be of any type. 

We create variables by assgining the variable name to the data using the (=) sign.

In [12]:
a = "I have 15 friends"
a

'I have 15 friends'

In [21]:
print(a)

I have 15 friends

In [24]:
#example of creating a variable

my_score = 95

In [25]:
my_score

95

In [13]:
a = 35

#### Variables Naming Conventions

1. Variable names cannot begin with numbers or other special characters.
2. Python keywords cannot be used as variable names. Keywords are special words reserved for python's use. 
3. Variable names can begin with an underscore(_) 
4. Variable names can contain up to 255 characters. 
5. Variable names must not contain spaces
 
#### Best Practices for Naming Variables

1. Do not begin with underscore.
2. All alphabets should be in lower case.
3. Separate words using underscore. This makes it more readable.

In [33]:
thisIsApythonString = "python 2023"

In [ ]:
_R = "Ruth is a pretty lady"

In [ ]:
print(_R)

In [35]:
shoes_price_dollars = 150

In [ ]:
shoes_price_dollars

#### Activity 2: Create four variables with integer, float, string and boolean data types.

#### Multiple Assignments of Variables
You can assign values to multiple variables at once - in one line of code.

In [15]:
#example of multiple assignments

x,y,z = 20,3.142,"area "


print(x, end='\n --------------------------------------\n')
print(y)
print(z)
print(x,y,z, sep='\n --------------------------------------\n') #another way to use the print function

20
 --------------------------------------
3.142
area
20
 --------------------------------------
3.142
 --------------------------------------
area

In [ ]:
#y = x

print(x,y)

In [61]:
print(x)

#x = 10

print(x)

10
10

#### We can perform operations using variables

In [64]:
a = x*y

print(a)

62.839999999999996

In [66]:
b = "The "
c = "is "
result = b + z + c
print(b,z,c,a)

#another way to print

print(result, a)

The  area  is  62.839999999999996
The area is  62.839999999999996

#### Activity 3: Create a variable that calculates the speed of a train. Print the output with the message "Your train's speed is: train_speed"

### Casting

Casting is a way of changing the data type of a variable. 

This can be done using the data type's constructor.


1. string    = str()
2. integer   = int()
3. float     = float()
4. complex   = complex()
5. boolean   = bool()


Sequence Types

1. lists   = list()
2. tuples  = tuple()
3. sets    = set()
4. dictionaries = dict()

In [2]:
x,y,z = 20,3.142,"area "

In [16]:
print(x)

x = str(x)

print(x)

20
<class 'str'>

In [30]:
x = {20,False,40, 'Dogs'}
type(x)

set

In [4]:
type(x)

str

#### Use the type() function to get the data type of variables

In [11]:
x = int(x)

print(type(x))

<class 'int'>

In [1]:
int_1 = 25

comp_num = complex(int_1)

print(type(comp_num), comp_num)
print(type(int_1))

<class 'complex'> (25+10j)
<class 'int'>

In [15]:
my_bool = bool(int_1)

print(my_bool)

True

In [16]:
my_bool = bool(comp_num)

print(my_bool)

True

In [21]:
my_bool = False - True

In [22]:
my_bool

-1

### Operators 

##### Types of Opeartors

1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators 
6. Membership Operators

#### Arithmetic Operators

1. addition (+)
2. subtraction (-)
3. multiplication (*)
4. division (/)
5. Exponentiation (**)
6. Modulus (%)
7. Floor division (//)

##### Floor division

In [31]:
p = 28/5

#floor division

q = 28//5


print(p)
print("Result of floor divison is:", q)

5.6
Result of floor divison is: 5

##### Modulus

In [32]:
r = 52/7

#Modulus

s = 52%7

print(r)
print("Result of modulus is:", s)

7.428571428571429
Result of modulus is: 3

##### Exponentiation

In [36]:
print(q,s)


#to raise q to power s...
t = q**s 

print(t)

5 3
125

#### Activity 4: Find the value of the floor division of force and area to the power of three. 
If: 
force = 200
area = 13 

#### print the result as: The pressure is: _pressure_

In [37]:
force = 200
area = 13

pressure = (force//area)**3


print("The pressure is:", pressure)

The pressure is: 3375

### Precedence

Precedence is the order in which python opoerations are performed. 

Python follows the following order in executing arithmetic operations. They're in descending order. 

* Parenthesis
* Exponenents
* Multiplication
* Division
* Addition 
* Subtraction

In [38]:
# example!

print((6+3) - (6+3))
print(6+3-6+3)

0
6

In [ ]:
print(100+5*3)

### Activity: Find the value of 25 raised to the power of 2 plus 10, multiplied by 75 divided by 15.

In [39]:
print((25**2 + 10)*75/15)

3175.0

### Assignment Operators
Assignment operators are used to assign values to variables:

They include the following

* Equal (=)
* +=
* -=
* *=
* /=
* %=
* //=
* **=

In [2]:
var_new +=200
var_new

NameError: name 'var_new' is not defined

In [7]:
x = 5

x += 2

#x = x +2

print(x)

y = 14

x += y

print(x)

7
21

In [8]:
x += y

In [9]:
y %= 3

print(y)

2

In [10]:
x //= 5

print(x)

7

In [11]:
y

2

In [12]:
str1 = "my dog's name is brian"
count = 0

for char in str1:
    if char == " ":
        count += 1
        
print(count)

4

### Comparison Operators
Comparison operators are used to compare two values:

* ==  Is Equal
* != Not equal
* <>  less than or Greater than
* <= Less than or Equal to 
* (>=) Greater than or equal to 

The result of comparison operations is usually boolean.

In [13]:
# Examples 

print(x)
print(y)

7
2

In [14]:
print(x==y)
print(y!=x)
print(x>y)
print(y>x)
print(x<=y)

False
True
True
False
False

In [15]:
str_x = "Dog"

str_y = "dog"

print(str_x == str_y)
print(str_x < str_y)

False
True

In [16]:
True == 1

True

### Logical Operators
Logical operators are used to combine conditional statements.
Logical operators include:

* and: It retuns True if both statements are true
* or:  It retuns True if one of the statements is true 
* not: It reverses the result of the logical statement.

In [17]:
print(x)
print(y)

7
2

In [18]:
# examples

print(x > 0 and y <= 2) #True
print(x > 0 or y <= 2)  #True
print("*------------------------------------------*")
print(not(x > 0 and y <= 2)) #False

True
True
*------------------------------------------*
False

In [19]:
(True and True) and not(True or False)

False

In [20]:
((False and False) or (True or False)) and ((True or False) and (False or True))

True

### Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:


* is: Returns True if both objects are the same.
* is not: Returns True is both objects are not the same.

In [21]:
print(str_x, str_y)

str_x is not str_y

Dog dog

True

In [22]:
z = 4/2

print(y)
print(z)

2
2.0

In [23]:
y is z

False

### Membership Operators

It used to check if an object is present in a sequence.

* in 
* not in

In [25]:
state_list = ["Abia", "Zamfara", "Kano", "Katsina", 
              "Lagos", "Anambra", "Bayelsa", "Ebonyi", 
              "Kebbi", "Abuja", "Kaduna"]

state_list[-1] = 'Plateau'
print(state_list)

['Abia', 'Zamfara', 'Kano', 'Katsina', 'Lagos', 'Anambra', 'Bayelsa', 'Ebonyi', 'Kebbi', 'Abuja', 'Plateau']

In [26]:
"Adamawa" in state_list

False

In [27]:
"Rivers" in state_list

False

In [28]:
"Ondo" in state_list

False

In [29]:
for i in state_list:
    print(i, "is a state in Nigeria")

Abia is a state in Nigeria
Zamfara is a state in Nigeria
Kano is a state in Nigeria
Katsina is a state in Nigeria
Lagos is a state in Nigeria
Anambra is a state in Nigeria
Bayelsa is a state in Nigeria
Ebonyi is a state in Nigeria
Kebbi is a state in Nigeria
Abuja is a state in Nigeria
Plateau is a state in Nigeria

In [30]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [32]:
user_input = str(input("Please Enter a State you've been to: "))

if user_input.capitalize() in state_list:
    print("Amazing you're a traveller!")
else:
    print("oops! Try again!")

Please Enter a State you've been to: Kogi
oops! Try again!

In [84]:
user_input.capitalize()

'Delta'

'delta'

In [1]:
lst1 = ['soap', 'toothpaste', 'cornfalkes', 'lotion', 'deodorant']
lst2 = [500, 700, 2500, 3500, 2000]


new_dict = dict(zip(lst1,lst2))