## Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data.

A tuple is a collection which is **ordered**, **accepts dupilcates** and is **unchangeable.**

Tuples are written with round brackets.

Tuples are very similar to lists in that they store objects of various data types.

- A tuple is represented by parentheses, ()
- It is immutable i.e the element within a tuple cannot be modified
- An index is used to access and refer to items within a tuple. Since tuples are indexed, they can have items with the same value.

### Creating Tuples

To create a tuple object, we use the tuple literal ( ).

In [7]:
#Create tuples with multiple items
tuple_1 = ("Hello", 50, 77.7)
type(tuple_1)

tuple

In [8]:
#create tuples with one item

tuple_2 = ('world cup',)  #notice there's a comma after the first item
print(type(tuple_2))

tuple_3 = ('world cup')
print(type(tuple_3))

<class 'tuple'>
<class 'str'>

### The tuple constructor

It is also possible to use the tuple() constructor to make a tuple.

In [9]:
wc_nations = ['germany', 'nigeria', 'spain', 'ghana', 'england']
countries = tuple(wc_nations)


print(type(countries))
print(type(wc_nations))

<class 'tuple'>
<class 'list'>

In [10]:
wc_nations[0]

'germany'

In [11]:
#create a tuple from a list
tup_list = tuple(["usa", "china", "brazil"])
tup_list

('usa', 'china', 'brazil')

In [12]:
#create a tuple without using double brackets

states = ('ondo', 'lagos')


capital = tuple(('akure', 'ikeja'))

print(type(states))

<class 'tuple'>

Tuple items can be of any data type: (list, set, and dictionary)

In [13]:
tuple_f = (20, 'eggs', 'soda', True, 350.125)
type(tuple_f)

tuple

In [15]:
#we can also convert a list to a tuple

list_1 = [1,2,3,4,5,6,7]

#convert to tuple

list_1 = tuple([1,2,3,4,5,6,7])
type(list_1)

tuple

#### Index

The index helps to get the location each element of a tuple

In [16]:
print(tuple_1)
print(tuple_1.index("Hello"))

('Hello', 50, 77.7)
0

#### Indexing and slicing
We can also access the elements of a tuple but we can not change it, because they are immutable

In [19]:
tuple_1[0]

'Hello'

In [21]:
tuple_1[0] = 'Hi'

TypeError: 'tuple' object does not support item assignment

In [15]:
print(countries)

print(countries[2])

('germany', 'nigeria', 'spain', 'ghana', 'england')
spain

In [22]:
countries[1:4]

('nigeria', 'spain', 'ghana')

In [16]:
# We can also get the len of a tuple

print(len(tuple_1))

print(len(countries))

3
5

#### Concatenate Tuples
We can concatenate or combine tuples by using the + sign:

In [25]:
tuple_2= tuple_1 + (1,2,3,4,5)
tuple_2

('Hello', 50, 77.7, 1, 2, 3, 4, 5)

In [26]:
# Slicing, we can call out a part of a tuple

tuple_3 = tuple_1[0:3]
tuple_3

('Hello', 50, 77.7)

#### Sorting

We can sort the elements of a tuple

In [27]:
die_roll= (4,5,6,2,3,1)

die_roll_sorted = sorted(die_roll, reverse = True)
die_roll_sorted

[6, 5, 4, 3, 2, 1]

In [31]:
sorted(die_roll)

[1, 2, 3, 4, 5, 6]

In [34]:
print(die_roll)
print(type(die_roll_sorted))

(4, 5, 6, 2, 3, 1)
<class 'list'>

In [35]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

#### Nested Tuple
 tuple can contain another tuple as well as other data type, this is called "nesting".

In [3]:
Nested_tuple = (("Hello","Python"),(1,2,3,4,5),7,8,(55.4,30.3,(4,5)))

In [5]:
#We cn access each each element of the tuple using the index

print("Element 0= ", Nested_tuple[0])
print("Element 1= ", Nested_tuple[1])
print("Element 2= ", Nested_tuple[2])
print("Element 3= ", Nested_tuple[3])
print("Element 4= ", Nested_tuple[4])

Element 0=  ('Hello', 'Python')
Element 1=  (1, 2, 3, 4, 5)
Element 2=  7
Element 3=  8
Element 4=  (55.4, 30.3, (4, 5))

In [27]:
Nested_tuple[4][2][1]

5

In [ ]:
#We can print the element within each tuple using second index
print("Element 0", Nested_tuple[0][0])
print("Element 1", Nested_tuple[0][1])

Element 0 Hello
Element 1 Python

In [ ]:
#we can also access each character of the string using the third index
print("Element 0", Nested_tuple[0][0][0])
print("Element 1", Nested_tuple[0][0][1])
print("Element 1", Nested_tuple[0][0][2])
print("Element 1", Nested_tuple[0][0][3])
print("Element 1", Nested_tuple[0][0][4])

Element 0 H
Element 1 e
Element 1 l
Element 1 l
Element 1 o

#### Count Method

It allows us to count the number of times a value appears in the tuple

In [7]:
tuple_4 = (1,3,1,4,1,1,"a","a","d")
print(tuple_4.count(1))
print(tuple_4.count('a'))


def count_char(countable, y):
    count = 0
    for x in countable:
        if x == y:
            count +=1
    return count

4
2

In [38]:
count_char(tuple_4, 1)

4

In [39]:
tuple_9 = (1,4,2,3,1,5)
sorted(tuple_9)

[1, 1, 2, 3, 4, 5]

In [41]:
tuple_9.insert('sam')

AttributeError: 'tuple' object has no attribute 'insert'

In [46]:
tuple_9.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [47]:
 tuple_9

('sam', 1, 4, 2, 3, 1, 5, 'sam', 'sam')

In [50]:
lst_tup = [('promise', 2345678571), ('peter', 9684736213), ('tommy', 2716486934), ('tammy', 2804703782)]

In [55]:
lst_tup[0][1]

2345678571

## Assignment

Find and list out all the methods available for a tuple object.