## List

A list is a sequenced collection of different objects such as integers, strings, and even other lists as well

- A list is represented by brackets, [ ].
- It is mutable i.e the element within a list can be modified
- An index is used to access and refer to items within a list.


There are different ways of creating a list,

You can either create an empty list and add all your items

or 

You can type in all element of your list using the []

In [1]:
# to create an empty list
list_1 = []

list_2 = list()

print(list_1)
print(list_2)

[]
[]

In [3]:
# to create a List with elements within

list_3 = ["Zacrac", 2019, 2.5, ["mango", "banana"], ("grade")]
list_3

['Zacrac', 2019, 2.5, ['mango', 'banana'], 'grade']

In [4]:
list_3[-2][1]

'banana'

In [39]:
list_4 = ["Zacrac", 2019, 2.5, ["mango", "banana", ["rice", "yam", 2000, 1500]], ("grade")]

print(list_4[3], "\n")

print(list_4[3][2], "\n")

print(list_4[3][2][1], "\n")

['mango', 'banana', ['rice', 'yam', 2000, 1500]]

['rice', 'yam', 2000, 1500]

yam

List can contain a string, an integer, a float, another list can be in a list and a tuple as seen above

In [6]:
type(List_3[3])

list

In [ ]:
#using positive and negative index to access the elements of a list

print("Element 1:\n positive index", List_3[0], "\n Negative Index:", List_3[-5])

Element 1:
 positive index Zacrac
 Negative Index: Zacrac

# Because list is mutable, we can change the elements in a list
List_3[1] = 2022
List_3

In [7]:
list_4

['Zacrac',
 2019,
 2.5,
 ['mango', 'banana', ['rice', 'yam', 2000, 1500]],
 'grade']

In [8]:
list_4[3][2][1] = "cassava"
print(list_4)

['Zacrac', 2019, 2.5, ['mango', 'banana', ['rice', 'cassava', 2000, 1500]], 'grade']

### We can do multiple re-assignment of values with slicing.

In [10]:
list_4[1:3] = 2023,5.0


print(list_4)

['Zacrac', 2023, 5.0, ['mango', 'banana', ['rice', 'cassava', 2000, 1500]], 'grade']

## We can extract a part of a list using slicing

List_3[3:6]

In [13]:
#we can clone a list
new_list = list_3[:]
new_list

['Zacrac', 2019, 2.5, ['mango', 'banana'], 'grade']

In [21]:
new_list = [x+5 for x in range(20,50,3)]

print(new_list)

[25, 28, 31, 34, 37, 40, 43, 46, 49, 52]

In [29]:
div_3 = [x+5 for x in range(20,50,3) if x%2==0]

print(div_3)

[25, 31, 37, 43, 49]

### List Methods


#### append()
the append method adds an element to the back of the last element in the list.

    Syntax:
        append(element)
        
 for exeample:

In [24]:
list_3[3].append("fruits")
list_3

['Zacrac', 2019, 2.5, ['mango', 'banana', 'fruits'], 'grade']

#### pop()
Removes the last element in a list, by default it removes one elements if a parameter is not passed in.

for example:

In [25]:
print(list_3)
print(list_3.pop())
print(list_3)

['Zacrac', 2019, 2.5, ['mango', 'banana', 'fruits'], 'grade']
grade
['Zacrac', 2019, 2.5, ['mango', 'banana', 'fruits']]

In [30]:
# lets pop the item on the second element
list_3.pop(2)

2.5

#### Remove()

Removes an item by value, and unlike pop, remove does not return any item

for example

In [31]:
my_list = [1,2,3,4,5]
print(my_list.remove(2))
print(my_list)

None
[1, 3, 4, 5]

In [36]:
print(list_4)

['Zacrac', 2019, 2.5, ['mango', 'banana', ['rice', 'yam', 2000, 1500]], 'grade']

In [37]:
list_4.remove("Zacrac")
print(list_4)

[2019, 2.5, ['mango', 'banana', ['rice', 'yam', 2000, 1500]], 'grade']

#### Index()
Use to find the index position of a value

In [44]:
print(list_4[3][2].index("yam"))  #index

print(list_4[4])    #indexing

1
grade

In [ ]:
my_list = [1,2,3,4,5]
print(my_list.index(2))

1

#### Insert()

We use the insert method to add to a particular position in a list

        Syntax:
            insert(index,value)
For example:

In [45]:
my_list = [1,2,3,4,5]
my_list.insert(3,"New")
print(my_list)

[1, 2, 3, 'New', 4, 5]

In [36]:
#list_4.insert(0, 'Zacrac')
#list_4.remove('Zacrac')
list_4

['Zacrac',
 2019,
 2.5,
 ['mango', 'banana', ['rice', 'cassava', 2000, 1500]],
 'grade']

#### clear ()

we can remove all elements in a list using the clear method

for example:

In [37]:
my_list = [1,2,3,4,5]
my_list.clear()
my_list

[]

#### sort()

Helps to sort the elements in our list.

for example:

In [47]:
my_list = [90,3,5,20,100]
my_list.sort(reverse = True)
my_list

[100, 90, 20, 5, 3]

#### extend()


We can use the method extend to add new elements to the list

In [ ]:
my_list = [1,2,3,4]
my_list.extend([5,6,7,8])
my_list

[1, 2, 3, 4, 5, 6, 7, 8]

#### copy()

returns a copy of the list

In [42]:
copy_list = my_list.copy()

In [43]:
copy_list

[100, 90, 20, 5, 3]

#### join()

Join combines strings in a list.

In [46]:
msg = ['Have', 'a', 'great', 'day!']
msg

['Have', 'a', 'great', 'day!']

In [48]:
msg_str = " ".join(msg)
print(msg_str)

Have a great day!

### Loop Through a List

You can loop through items in a list by using a **for** loop.

In [56]:
# to loop through the items in msg list

for item in msg:
    print(item, end= " ")

Have a great day!

In [64]:
for item in fruits:
    if len(item) == 6:
        print("I love {0}! {0} is my best fruit.".format(item.upper()))

I love BANANA! BANANA is my best fruit.
I love CHERRY! CHERRY is my best fruit.
I love ORANGE! ORANGE is my best fruit.

In [65]:
for item in fruits:
    if item.count("a") >= 2:
        print("I love {0}! {0} is my best fruit.".format(item.upper()))

I love BANANA! BANANA is my best fruit.

### Loop through the index numbers of lists

In [73]:
for x in range(len(fruits)):
    print(x, end= " ")

0 1 2 3 4 5

### List Comprehension

List comprehension is a faster way of creating a new list based on the values of an existing list.

In [57]:
fruits = ['apple', 'banana', 'cherry', 'orange', 'mango', 'coconut']

In [77]:
# without list comprehension

a_fruits = []

# write a for loop to check fruits with letter a

for item in fruits:
    if "a" in item and len(item) >=6:
        a_fruits.append(item)
        
print("These fruits contain the letter A")
print(a_fruits)

These fruits contain the letter A
['banana', 'orange']

#### breakdown of list comprehension

new_list = [|*action*|  |*for loop*|    |*condition*|]

In [79]:
# with list comprehension

lc_fruits = [item.upper() for item in fruits if "a" in item]

print(lc_fruits)

['APPLE', 'BANANA', 'ORANGE', 'MANGO']