## Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is **ordered***, **changeable** and do not allow **duplicates**.

A dictionary can be compared to a list, but nstead of being indexed numerically like a list, dictionaries have keys. 

Dictionaries use keys and are unordered, they do not support indexing or slicing.These keys are the keys that are used to access values within a dictionary.

It represented by a curly bracket.

## Ordered or Unordered?
When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

## Creating a Dictionary

The first way is by using a set of curly braces, {}, and the second way is by using the built-in dict() function.

### To Create An Empty Dictionary in Python
To create an empty dictionary, first create a variable name which will be the name of the dictionary.

Then, assign the variable to an empty set of curly braces, {}.

Another way is to use the dict() constructor without any argument.

In [4]:
#creating dictionary with empty curly brackets {}
empty_dict_1 = {}

#creating dictionary with dict() constructor without argument
empty_dict_2 = dict()

In [5]:
type(empty_dict_1)

set

### To Create A Dictionary With Items in Python
To create a dictionary with items, you need to include key-value pairs inside the curly braces.

The general syntax for this is the following:

dictionary_name = {key: value}

In [1]:
dict_1 = {"key1":"Value1","key2":"Value2","key3":"Value3","key4":"Value4","key5":"Value5",6:6,1:7}
dict_1

{'key1': 'Value1',
 'key2': 'Value2',
 'key3': 'Value3',
 'key4': 'Value4',
 'key5': 'Value5',
 6: 6,
 1: 7}

In [7]:
#countries and thier capitals dict

country_dict = {"nigeria":"abuja", "ghana":"accra", 
                "kenya":"nairobi", "egypt":"cairo", 
                "cameroon":"kampala", "poland":"warsaw"
               "rwanda":"kigali"}

Keys can be String, Integer ,float or tuple

In [9]:
key_check   = {
              "john":50, 
               200:["sam", "lan", "kim"], 
               ("jan", 2022): {"salary", "expenses", "bonus"}
               }

key_check

{'john': 50,
 200: ['sam', 'lan', 'kim'],
 ('jan', 2022): {'bonus', 'expenses', 'salary'}}

# Dictionary Methods

## Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets:

In [10]:
#To access the value of a key:

dict_1["key1"]

'Value1'

In [11]:
country_dict["ghana"]

'accra'

In [12]:
#We can re-assign the value of a key
dict_1["key2"]="chemistry"
dict_1

{'key1': 'Value1',
 'key2': 'chemistry',
 'key3': 'Value3',
 'key4': 'Value4',
 'key5': 'Value5',
 6: 6,
 7.1: 7}

In [13]:
country_dict["cameroon"] = "yaounde"
print(country_dict)

{'nigeria': 'abuja', 'ghana': 'accra', 'kenya': 'nairobi', 'egypt': 'cairo', 'cameroon': 'yaounde', 'poland': 'warsaw'}

In [20]:
dict_1['key6'] ='Value6'

dict_1

{'key1': 'Value1',
 'key2': 'chemistry',
 'key3': 'Value3',
 'key4': 'Value4',
 'key5': 'Value5',
 6: 6,
 7.1: 7,
 'key6': 'Value6'}

#### keys()
The key method helps you to retrieve the keys in a dictionary.

In [21]:
dict_1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5', 6, 7.1, 'key6'])

dict_values(['abuja', 'accra', 'nairobi', 'cairo', 'yaounde', 'warsaw'])

In [23]:
for key in country_dict.keys():
  print("I am from ", key.capitalize())

I am from  Nigeria
I am from  Ghana
I am from  Kenya
I am from  Egypt
I am from  Cameroon
I am from  Poland

#### Dictionary Length and Type 

To determine how many items a dictionary has, use the len() function:

From Python's perspective, dictionaries are defined as objects with the data type 'dict':

In [26]:
print(len(dict_1))
print(type(empty_dict_1))

8
<class 'set'>

#### values()
To retrieve all the values in a dictionary, we use this method

In [ ]:
dict_1.values()

dict_values(['Value1', 'Value2', 'Value3', 'Value4', 'Value5', 6, 7])

In [31]:
country_dict

{'nigeria': 'abuja',
 'ghana': 'accra',
 'kenya': 'nairobi',
 'egypt': 'cairo',
 'cameroon': 'yaounde',
 'poland': 'warsaw'}

In [32]:
for sip in country_dict:
  print("The capital of {} is {} ".format(sip.capitalize(), country_dict[sip].capitalize()))

The capital of Nigeria is Abuja
The capital of Ghana is Accra
The capital of Kenya is Nairobi
The capital of Egypt is Cairo
The capital of Cameroon is Yaounde
The capital of Poland is Warsaw

In [33]:
for sip in country_dict:
    print(sip)

nigeria
ghana
kenya
egypt
cameroon
poland

In [40]:
for sip in country_dict:
    print(sip[:3])

abu
acc
nai
cai
yao
war

In [ ]:
for key,val in country_dict.items():
  print(key, val)

nigeria abuja
ghana accra
kenya nairobi
egypt cairo
cameroon yaounde
poland warsaw

In [42]:
for key,val in country_dict.items():
    print("The capital of {} is {} ".format(key.capitalize(), val.capitalize()))

The capital of Nigeria is Abuja
The capital of Ghana is Accra
The capital of Kenya is Nairobi
The capital of Egypt is Cairo
The capital of Cameroon is Yaounde
The capital of Poland is Warsaw

#### items()
Returns a list of the items in the dictionary, in form of a tuple containing the (key,value)

In [ ]:
print(dict_1.items())
print(Country_dict.items())

dict_items([('key1', 'Value1'), ('key2', 'chemistry'), ('key3', 'Value3'), ('key4', 'Value4'), ('key5', 'Value5'), (6, 6), (7.1, 7), ('key9', 'value5')])
dict_items([('nigeria', 'abuja'), ('ghana', 'accra'), ('kenya', 'nairobi'), ('egypt', 'cairo'), ('cameroon', 'yaounde'), ('poland', 'warsaw')])

In [ ]:
# To add entry to a dictionary
Dict_1["key8"]="Value8"
print(Dict_1)

{'key2': 'chemistry', 'key4': 'Value4', 'key5': 'Value5', 6: 6, 7.1: 7, 'key8': 'Value8'}

### To check for items in our dictionary

In [47]:
"nigeria"  in country_dict

True

In [45]:
# we can check if an element is in the dictionary

"accra" in country_dict.values()

True

## update()
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [51]:
dict_1.update({'key9':'value9'})
dict_1

{'key1': 'Value1',
 'key2': 'chemistry',
 'key3': 'Value3',
 'key4': 'Value4',
 'key5': 'Value5',
 6: 6,
 7.1: 7,
 'key6': 'Value6',
 'key9': 'value9'}

In [50]:
country_dict.update({"rwanda":"kigali", "togo":"lome"})
country_dict

{'nigeria': 'abuja',
 'ghana': 'accra',
 'kenya': 'nairobi',
 'egypt': 'cairo',
 'cameroon': 'yaounde',
 'poland': 'warsaw',
 'rwanda': 'kigali',
 'togo': 'lome'}

#### del 
To delete a value associated with a key, we use the del operator.

In [61]:
del dict_1["key9"]

print(dict_1)

{'key1': 'Value1', 'key2': 'chemistry', 'key3': 'Value3', 'key4': 'Value4', 'key5': 'Value5', 6: 6, 7.1: 7, 'key6': 'Value6'}

In [56]:
#del country_dict["poland"]
print(country_dict)

{'nigeria': 'abuja', 'ghana': 'accra', 'kenya': 'nairobi', 'egypt': 'cairo', 'cameroon': 'yaounde', 'rwanda': 'kigali', 'togo': 'lome'}

#### Pop
The dictionary also has a pop method like list. However, instead of taking in an index as a parameter, the pop method takes in a key.

In [ ]:
print(dict_1.pop("key3"))

dict_1

Value3

{'key2': 'chemistry', 'key4': 'Value4', 'key5': 'Value5', 6: 6, 7.1: 7}

#### for loops and in operator
We can access the keys or values using iteration

In [ ]:
# To access the keys in the dictionary
for key in dict_1:
    print(key)

key1
key2
key3
key4
key5
6
7.1
key9

In [ ]:
# To access the values in the dictionary
for key in dict_1:
    print(Dict_1[key])

chemistry
Value4
Value5
6
7
Value8

In [ ]:
# we combine display both the keys and values
for farm in dict_1:
    print(farm, "referencing ", dict_1[farm])

key1 referencing  Value1
key2 referencing  chemistry
key3 referencing  Value3
key4 referencing  Value4
key5 referencing  Value5
6 referencing  6
7.1 referencing  7
key9 referencing  value9

## Nested Dictionaries
A dictionary can contain dictionaries, this is called nested dictionaries.

In [63]:
#Create a dictionary that contain three dictionaries:
myfamily = {
  "child1" : {"name" : "Emil","year" : 2004},


  "child2" : {"name" : "Tobias","year" : 2007},


  "child3" : {"name" : "Linus","year" : 2011}
}

In [64]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [65]:
myfamily["child2"]["name"]

'Tobias'

In [67]:
myfamily['child1']['weight'] = 50.6
myfamily['child2']['weight'] = 45
myfamily['child3']['weight'] = 49

In [68]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004, 'weight': 50.6},
 'child2': {'name': 'Tobias', 'year': 2007, 'weight': 45},
 'child3': {'name': 'Linus', 'year': 2011, 'weight': 49}}

### Class Activity 1
1. Create a dictionary called salary for ten employees
2. Apply a 10% bonus to all employees' salary
3. Print the employees' name and salary

### Class Activity 2
1. Create two lists
2. Convert both lists into a dictionary

### Class Avtivity 3
1. Calculate the total salaries for all employees in Activity 1

### Corrections

#### Solution for Activity 2

In [72]:
lst1 = ['soap', 'toothpaste', 'cornfalkes', 'lotion', 'deodorant']
lst2 = [500, 700, 2500, 3500, 2000]

new_dict = {}

for item, price in zip(lst1, lst2):
    new_dict[item] = price
    
print(new_dict)

### Or

In [73]:
for item, price in zip(lst1, lst2):
    new_dict.update({item:price})
    
print(new_dict)

{'soap': 500, 'toothpaste': 700, 'cornfalkes': 2500, 'lotion': 3500, 'deodorant': 2000}