### Loop

Its a function is python that helps you to perform a repeated function.

There are 2 types of Loop:
--------------------------------------------------------
- for loop
- while loop

Before we discuss loops lets discuss the range object. 

#### Range

The range is a collection of all the int values given a start, stop, and steps. By default, the start is 0 and the steps incremented is 1. The stop value is not included.
    syntax:
    range(start,stop,steps)
    
    
### for loop

The for loop enables you to execute a code block multiple times.

To iterate through a range with a for loop, we start with the keyword for, followed by a variable, typically named i, the in keyword, and the range created using its constructor.

Letâ€™s try out the for loop and iterate through a range from 0 to 9 and print out all the values.

In [ ]:
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

since, by default, start is 0 and step is 1, we can simply do this:

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# we can iterate through a list
subject = ["Mathematics","English","Commerce","Chemisty"]

for i in range(len(subject)):
    print(subject[i])

Mathematics
English
Commerce
Chemisty

In [ ]:
# we can also directly access the elements in the list:

subjects = ["Mathematics","English","Commerce","Chemisty"]
for subject in subjects:
    print(subject)

Mathematics
English
Commerce
Chemisty

We can print our output on a line,The print statement automatically prints to the next line because there is a parameter, end that has the default value '\n', which is the new line character.To change the end value and have the output be printed in one line separated by space, we can pass in a value for end.

In [ ]:
subjects = ["Mathematics","English","Commerce","Chemisty"]
for subject in subjects:
    print(subject, end = " ")

Mathematics English Commerce Chemisty

In [ ]:
# Use for loop to change the elements in list

subjects = ["Mathematics","English","Commerce","Chemisty"]

for i in range(4):
    print("Before Change", i, "is", subjects[i])
    subjects[i] = "Further Mathematics"
    print("After Change", i, "is", subjects[i])

Before Change 0 is Mathematics
After Change 0 is Further Mathematics
Before Change 1 is English
After Change 1 is Further Mathematics
Before Change 2 is Commerce
After Change 2 is Further Mathematics
Before Change 3 is Chemisty
After Change 3 is Further Mathematics

In [ ]:
# Loop through the list and iterate on both index and element value
subjects = ["Mathematics","English","Commerce","Chemisty"]

for i, subject in enumerate(subjects):
    print(i, subject)

0 Mathematics
1 English
2 Commerce
3 Chemisty

Class Activity

What happens when you run this program

List =[]

for i in range(15):
    list.append(i)
print(list)

In [ ]:
list =[]

for i in range(15):
    list.append(i)
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
int_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for num in int_list:
    num *= 2
print(int_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
int_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(len(int_list)):
    int_list[i] *= 2
	
print(int_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

#### Nested for loops

We can also use for loops to iterate through a nested list,to iterate through each value in a nested list, we will need to have nested for loops, which are for loops inside another for loop.

In [ ]:
# print the individual lists inside a nested list:
Dept_Subject = [["Government", "Literature","Arts"],["Commerce","Economics", "Account"],["Physics","Chemistry","Geography"]]

for Dept in Dept_Subject:
    print(Dept)

['Government', 'Literature', 'Arts']
['Commerce', 'Economics', 'Account']
['Physics', 'Chemistry', 'Geography']

In [ ]:
# print the individual subject inside each list:
Dept_Subject = [["Government", "Literature","Arts"],["Commerce","Economics","Account"],["Physics","Chemistry","Geography"]]

for Dept in Dept_Subject:
    for subject in Dept:
        print(subject)

Government
Literature
Arts
Commerce
Economics
Account
Physics
Chemistry
Geography

#### While loop
The while loop allows code to be executed repeatedly while a condition holds True,The code block will keep being executed until the given logical condition returns a False boolean value.

Lets print the integer from 1 to 10, we will need a variable that act as an increment value, say x and assign a value of 1 to it, the value will increase until it gets to 10.

We now need to determine the condition that will allow the loop to execute a task repeatedly. In this case, the objective is to print integers from 1 to 10. So we'll set the condition to be x < 11

In [ ]:
x = 1
while x < 11:
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Cases when the condition is not met, our loop function may not run

x=12
while x<11:
    print(x)
    x+=1

#### cases when there is no exit condition, the loop 

x = 1
while x < 11:
    print(x)
    x+=1

The program will print 1 forever, this is called an infinite loop, which will eventually crash the program

In [ ]:
# We can also use the while loop to print every element in a collection via index.

Names = ["Sade", "Kemi", "Bola", "Tosin", "Peace"]

index = 0
while index < len(Names):
    print(Names[index])
    index +=1

Sade
Kemi
Bola
Tosin
Peace

### Break Statement

The break statement allows us to exit a loop irrespective of the break statement.
We will use a conditional statement inside the while loop that will determine whether or not to call break.

In [ ]:
Names = ["Sade", "Kemi", "Bola", "Tosin", "Peace"]

index = 0
while index < len(Names):
    print(Names[index])
    index+=1
    if Names[index] == "Kemi":
        print("Kemi is in class")
        break

Sade
Kemi is in class

#### Quiz on Loops
1. Write a for loop the prints out all the element between -5 and 5 using the range function.

2. Print the elements of the following list: Fruits = ["Mango", "Pineapple", "Guava", "Pineapple","Orange"

3. Write a for loop that prints out the following list: Subject=['Mathematics', 'Economics', 'English', 'Geography', 'Commerce']

4. Write a while loop to display the scores of students in a particular course in the score list, if the score is less than 30 exit the loop.
Scores=[70,45,67,33,80,30,25,67,45,44]