## String Objects

Let's define the following terms:

- Method: It is a specific function associated with an object, they are set of task that are performed by the object that provide us information about an object.
- Function: A group of statement that performs a specific task
- Object: An instance of a data Type. For example 

Value = 8

An Integer object with the value of 8 has being assigned to the variable "Value"

- string: Is a collection of single character strings.

For example: Hello Python is a collection of the following individual strings.

"H" + "e" + "l" +"l" + "o" + "p" + "y" + "t" + "h" + "o" + "n"


To call a method for an object, simply type the variable name associated with the object, followed by a dot, and then the method name with parentheses included ( ).

### capitalize()
Returns the str with the first character of the str as an uppercase

In [2]:
my_string="hello python"
print(my_string.capitalize())

Hello python

In [3]:
str1 = "my dog's name is brian"

print(str1.capitalize())

My dog's name is brian

### lower()

Return the str with the all letter characters in lower cases.

In [ ]:
my_string =("HELLO Python")
print(my_string.lower())

hello python

In [4]:
print(str1.lower())

my dog's name is brian

### upper()
Return the str with the all letter characters in upper cases.

In [ ]:
my_string =("HELLO Python")
print(my_string.upper())

HELLO PYTHON

In [5]:
print(str1.upper())

MY DOG'S NAME IS BRIAN

### isdigit( )
Calling isdigit checks if the str value is only composed of digits.

In [6]:
str1.isdigit()

False

### isalpha( )
Calling isalpha checks if the str value is only composed of only letters from the alphabet.

In [7]:
str1.isalpha()

False

In [8]:
"adayofpeace".isalpha()

True

### isspace( )
Calling isspace checks if the str value is only composed of white spaces.

In [11]:
"     ".isspace()

True

In [10]:
"     ".isspace() and "adayofpeace".isalpha()

True

### isalnum( )
Calling isalnum checks if the str value is only composed of digits and/or letters.

In [2]:
"233445455abdscfree".isalnum()

True

### Concatenate
You can add two or more strings together by using the addition operator

### Duplicate 

Youn can duplicate a string using the multiplication operator.

In [7]:
str1 = "hello"
str2 = "world"
new_str = str1 + " " + str2
print(new_str)

hello world

In [11]:
print(new_str*5)

hello worldhello worldhello worldhello worldhello world

### Indexing
An Indexing is the address or position to access an item in a collection.

Index positive value starts with 0 from left to right, while the negative value startw with -1 from rigth to left

for example:

       "P" "y" "t" "h" "o" "n"
        0   1   2   3   4   5 --Positive Indexing
       -6  -5  -4  -3  -2  -1 --Negative Indexing
       
       
      Syntax:
          Variable[index]

In [ ]:
x = "python"

# to access the variable on index 3

x[3]

'h'

In [ ]:
# To access the last variable using negative

x[-1]

'n'

In [27]:
wel_str = "Welcome to Class"

wel_str[11]
print(wel_str[2:10:3])

lmt

### Length

The len() function allows you to know the number of variable in an object.

For example:

In [16]:
x="python"
len(x)

6

In [14]:
len(wel_str)

16

### Slicing

This is a way of copying a part of a collection
        Syntax:
            variable[start:end]
        Where:
            Start can be 0
            End can be the length of the collection

In [21]:
# Slice from index 2 to the end

x[1:5]

'ytho'

In [ ]:
#slice of index 0 to 3
x[0:4] # to print out the 3rd index we added one to the last index

'pyth'

In [ ]:
# we can clone using slicimg
x_clone = x[:]
x_clone

'python'

In [25]:
wel_str[2:10:2]

'loet'

In [29]:
num = "0123456789"

In [32]:
num[2:7:2]

'246'

### Split

In [39]:
print(wel_str)

split_str = wel_str.split(" ")

print(split_str)

print(type(split_str))

Welcome to Class
['Welcome', 'to', 'Class']
<class 'list'>

### join

In [44]:
" la ".join(split_str)

'Welcome la to la Class'

### index

In [48]:
wel_str[3:].index("l")

9

### count

In [49]:
wel_str.count('l')

2

### Activity


Once the model is selected, the next step is to train it using the pre-processed data.

#### Tasks

1. find the length of the string
2. split the string by whitespcae
3. join the resulting list of strings using "_"
4. find the index of the third letter "t"

In [2]:
act_str = "Once the model is selected, the next step is to train it using the pre-processed data."


t_list = []

def index_list()
for char in range(len(act_str)):
    if act_str[char] == "t":
        t_list.append(char)
        
print(t_list)

[5, 23, 28, 35, 38, 45, 48, 55, 63, 83]