# Sets

## **Definition**

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store
collections of data, 
the other 3 are **List, Tuple, and Dictionary,** all with different qualities and usage.

A set is a collection which is **unordered, unchangeable*, and unindexed.**

Sets are also similar to lists, but they differ from tuples and lists, because:

- Their values are unique  i.e does not allow duplicate values
- They are unordered and unindexed
- Represented by curly brackets **{}**
- Sets are immutable

## Syntax 
Sets are written with curly brackets.

Example: creating an empty set.

empty_set = {}

In [2]:
# Lets create a set
set_1 = {"English", "Mathematics", "Chemistry","Physics","English"}
set_1

{'Chemistry', 'English', 'Mathematics', 'Physics'}

In [3]:
set_2 = {9,8,2,5,4,7,8,3}
set_2

{2, 3, 4, 5, 7, 8, 9}

In [4]:
set_3 = {'z', 1, 'e', 5, 'f', 8, 'a'}
set_3

{1, 5, 8, 'a', 'e', 'f', 'z'}

In [24]:
type(Set_1)

set

### The set() Constructor
It is also possible to use the set() constructor to make a set.

In [6]:
#a set can be created from a tuple
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

In [8]:
# we can convert a list to a set

subject = ["English", "Mathematics", "Chemistry","Physic","Commerce","Economics"]
subject_Set = set(subject)
subject_Set

{'Chemistry', 'Commerce', 'Economics', 'English', 'Mathematics', 'Physic'}

## Set Operations

### Access Items in a Set.
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the "in" keyword.

*Once a set is created, you cannot change its items, but you can add new items.

In [16]:
#Loop through the set, and print the values:

my_set = {"apple", "banana", "cherry", "avocado", "pawpaw", "orange", "mango", "watermelon", "coconut", "pineapple", "grape"}

for x in my_set:
  print(x)

print("\n")

#Check if "banana" is present in my_set:

print("banana" in my_set)



#output and item in my_set

for x in my_set:
    if x == "coconut":
        print(x)

banana
watermelon
avocado
apple
cherry
pawpaw
coconut
pineapple
grape
mango
orange


True
coconut

#### add()

The add method allows us to add values to a set. 

Consider a grocery store with the following products

In [6]:
products={"Rice","Beans","Garri","Semo","Wheat","Salt"}
products

{'Beans', 'Garri', 'Rice', 'Salt', 'Semo', 'Wheat'}

In [16]:
lst_pro = list(products)
type(lst_pro)

list

In [7]:
# add new stock of eggs and sugar

products.add("Eggs")
products.add("Sugar")
products

{'Beans', 'Eggs', 'Garri', 'Rice', 'Salt', 'Semo', 'Sugar', 'Wheat'}

### update()
 To add items from another set into the current set, use the update() method.

In [17]:
#add another set to our set by using the update() method

print(products, end = '\n----------------------------------------------\n')
#print(my_set)
print(my_set, end = '\n------------------------------------------------\n')
#add items in products to my_set
my_set.update(products)
print(my_set)

{'Semo', 'Salt', 'Eggs', 'Beans', 'Wheat', 'Garri', 'Rice', 'Sugar'}
----------------------------------------------
{'banana', 'watermelon', 'avocado', 'apple', 'cherry', 'pawpaw', 'coconut', 'pineapple', 'grape', 'mango', 'orange'}
------------------------------------------------
{'banana', 'watermelon', 'avocado', 'Eggs', 'Beans', 'Garri', 'cherry', 'pawpaw', 'coconut', 'grape', 'mango', 'apple', 'Rice', 'Semo', 'Salt', 'pineapple', 'Wheat', 'Sugar', 'orange'}

In [13]:
help(len)

?len

len()

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [26]:
set_4 = {1,2,3,(6,8)}

for i in set_4:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'tuple'>

The iterable doesn't have to be a set. We can update our set with other data types like lists, tuple, or dictionaries.

In [18]:
my_list = ["kiwi", "apple", "pineapple", 200, 50]

my_set.update(my_list)
print(my_set)

{'banana', 'watermelon', 'avocado', 'Eggs', 'Beans', 'Garri', 200, 'cherry', 'pawpaw', 'coconut', 'grape', 'mango', 'kiwi', 'apple', 'Rice', 'Semo', 'Salt', 50, 'pineapple', 'Wheat', 'Sugar', 'orange'}

#### remove()

In [22]:
# we are out of stock for Rice
products.remove("Rice")
products

{'Beans', 'Eggs', 'Garri', 'Rice', 'Salt', 'Semo', 'Sugar', 'Wheat'}

#### pop()

Unlike lists, pop deletes a random element from a set.

In [27]:
products.pop()

TypeError: set.pop() takes no arguments (1 given)

#### discard()

In [23]:
products.discard('fufu')

#### clear()

It clears off the entire content of the set

In [ ]:
products.clear()
products

set()

### len()
Get the Length of a Set
To determine how many items a set has, use the len() function.

In [27]:
my_set_old = {"apple", "banana", "cherry", "avocado", "pawpaw", "orange"}

print(len(my_set))

19

### Set Operations

#### intersection
Intersection is a term used to refer to the logical **and**. When comparing two or more sets,it is a set of values that both the original sets have in common.

In [31]:
set_1 = {"Rice","Beans","Garri","Semo"}
set_2 = {"Palm oil","Beans","Wheat","Salt"}
common_products_1 = set_1.intersection(set_2)
common_products_2 = set_1 & set_2
print(common_products_1)
print(common_products_2)

{'Beans'}
{'Beans'}

In [33]:
print(my_set, "\n")
print(products)

my_set.intersection(set_2)

{'Eggs', 'coconut', 'cherry', 'Garri', 'Wheat', 'Beans', 'Sugar', 'orange', 'avocado', 'Rice', 'banana', 'grape', 'Salt', 'watermelon', 'pineapple', 'apple', 'pawpaw', 'mango', 'Semo'}

{'Garri', 'Semo', 'Wheat', 'Beans', 'Eggs', 'Sugar', 'Salt', 'Rice'}

{'Beans', 'Salt', 'Wheat'}

### Difference in Sets

In [32]:
# You can find all the elements that are only contained in set_1 using the difference method:

print(set_1.difference(set_2)) #only set_1
print(set_1 -set_2)

{'Garri', 'Semo', 'Rice'}
{'Garri', 'Semo', 'Rice'}

In [33]:
print(set_2 - set_1) #only set_2

{'Salt', 'Wheat', 'Palm oil'}

#### union
When comparing two or more sets, it is the set containing the combined values of all the individual sets without duplicates(sets does not allow duplicate).

In [ ]:
print(set_1.union(set_2))
print(set_1|set_2)

{'Salt', 'Garri', 'Wheat', 'Semo', 'Beans', 'Rice', 'Palm oil'}
{'Salt', 'Garri', 'Wheat', 'Semo', 'Beans', 'Rice', 'Palm oil'}

In [35]:
#Class Activity
set_1 = {"Rice","Beans","Garri","Semo"}
set_2 = {"Palm oil","Beans","Wheat","Salt"}

set_2 == (set_1 & set_2)|(set_2 - set_1)

True

#### issubset()

A subset is a set of elements or values that appear in another set of equal or larger size. 

#### issuperset()
A superset is defined as a set of elements or values of which some or all appear in another set of equal or smaller size.

#### isdisjoint()
When comparing two sets and there are no elements in common, we say that the sets are known as disjoint sets.

In [36]:
set_1={1,2,3,4}
set_2={1,2,3,4,5,6,7,8}
set_3={9,10}

print(set_1.issubset(set_2))
print(set_2.issuperset(set_1))
print(set_1.isdisjoint(set_3))

True
True
False

In [46]:
set_1 = {1,2,3,4}
set_2 = {2,4}


def set_ops(set_1, set_2):
    intersection_set = set()
    union_set = set()
    #find the intersection

    for elem in set_1:
        if elem in set_2:
            intersection_set.add(elem)
    # find if is disjoint

    if len(intersection_set) == 0:
        print("sets are disjoint")
    
    # find the union
    for elem in set_1 or set_2:
        union_set.add(elem)
    
    return union_set, intersection_set

In [47]:
set_ops(my_set, products)

({200,
  50,
  'Beans',
  'Eggs',
  'Garri',
  'Rice',
  'Salt',
  'Semo',
  'Sugar',
  'Wheat',
  'apple',
  'avocado',
  'banana',
  'cherry',
  'coconut',
  'grape',
  'kiwi',
  'mango',
  'orange',
  'pawpaw',
  'pineapple',
  'watermelon'},
 {'Beans', 'Garri', 'Rice', 'Salt', 'Semo', 'Sugar', 'Wheat'})

### Exercises on Sets in Python 


fruits = {"apple", "banana", "cherry", "avocado", "pawpaw", "pear"}
more_fruits = [“papaya”, “sugar-cane”]

A set and a list have already been created for you. Use them to answer the following questions.

1. Write python code to Check if "apple" is present in the fruits set.
2. Use the add method to add "orange" to the fruits set.
3. Use the correct method to add multiple items (more_fruits) to the fruits set. Assign the new set the variable name: total_fruits
4. Use the remove method to remove "banana" from the  total_fruits set.
5. Write python code to check if more_fruits is a subset of total_fruits.


Use the sets below to answer the following questions.


price = {200,150,300,100,500,250}
units = {600,450,350,400,200,150}


6. Write python code to return the difference between price and units
7. Write python code to return the union and intersection of price and units.
8. Write a Python program to return a new set with unique items from both sets by removing duplicates.